.theatre-box {
     -fx-background-image: url("../images/bg.png");
     -fx-background-size: cover, auto;
     -fx-background-repeat: no-repeat;
     -fx-background-position: center center;
     -fx-background-color: rgb(0,0,0);
}

#monocle {
    -fx-font-size: 30pt;
    -fx-border-color: #AAAAAA;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-radius: 4px;
    -fx-background-color: #FFFFFF;
}

.list-cell:filled {
    -fx-padding: 10 10 10 10;
    -fx-background-color: linear-gradient(#FFFFFF, #F6F6F6);

    -fx-border-color: #DDDDDD #DDDDDD #AAAAAA #DDDDDD;
    -fx-border-width: 1px 1px 2px 1px;
    -fx-border-style: solid;
    -fx-border-insets: 2px, 5px, 2px, 5px;
    -fx-opacity: 0.7;
}

.list-cell:selected, .list-cell:focused {
    -fx-padding: 10 10 10 10;
    -fx-background-color: linear-gradient(#FFFFFF, #F6F6F6);

    -fx-border-color: #DDDDDD #DDDDDD #AAAAAA #68d65c;
    -fx-border-width: 1px 1px 2px 3px;
    -fx-border-style: solid;
    -fx-border-insets: 2px, 5px, 2px, 15px;

    -fx-text-fill: black;
    -fx-stroke: black;
    -fx-stroke-width: 2;

    -fx-opacity: 1.0;

    -fx-font-weight: bold;
}

.list-view:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}

.speedrText {
    -fx-font-size: 20pt;
    -fx-font-style: italic, bold;
    -fx-text-fill: white;
}

.leadText {
    -fx-font-size: 13pt;
    -fx-font-style: italic;
}

#tool-bar {
    -fx-background-color: #de6262
}

.image-button:hover {
    -fx-opacity: 1.0;
}

.text{
    -fx-font-smoothing-type: gray;
}