#monocle {
    -fx-font-size: 30pt;
    -fx-border-color: #AAAAAA;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-radius: 4px;
    -fx-background-color: #FFFFFF;
}

.list-cell:filled {
    -fx-padding: 10 10 10 10;
    -fx-background-color: linear-gradient(#FFFFFF, #F6F6F6);

    -fx-border-color: #DDDDDD #DDDDDD #AAAAAA #DDDDDD;
    -fx-border-width: 1px 1px 2px 1px;
    -fx-border-style: solid;
    -fx-border-insets: 2px, 5px, 2px, 5px;
    -fx-opacity: 0.7;
}

.list-cell:selected, .list-cell:focused {
    -fx-padding: 10 10 10 10;
    -fx-background-color: linear-gradient(#FFFFFF, #F6F6F6);

    -fx-border-color: #DDDDDD #DDDDDD #AAAAAA #68d65c;
    -fx-border-width: 1px 1px 2px 3px;
    -fx-border-style: solid;
    -fx-border-insets: 2px, 5px, 2px, 15px;

    -fx-text-fill: black;
    -fx-stroke: black;
    -fx-stroke-width: 2;

    -fx-opacity: 1.0;

    -fx-font-weight: bold;
}